//====================================================================================================
// About
//====================================================================================================
.about {
	background-color: #f1f6f6;
	padding-top: 37px;
	padding-bottom: 60px;
	// .about__inner

	&__inner {
		margin-top: 32px;
	}

	// .about__control
	&__control {
		padding-bottom: 54px;
		background-color: #f1f6f6;
	}

	// .about__items

	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 54px;
	}

	&__title {
	}
}
.about-item {
	display: flex;
	flex-direction: column;
	row-gap: 34px;
	// .about-item__top

	&__top {
		display: flex;
		column-gap: 26px;
		align-items: center;
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: 17px;
		}
	}

	// .about-item__num

	&__num {
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		background-color: #fff;
		font-family: "RussoOne";
		font-size: rem(24);
		color: #5cb6f3;
		border-radius: 5px;
		min-width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .about-item__text

	&__text {
		vertical-align: bottom;
		font-size: rem(17);
		line-height: math.div(22, 17);
		font-weight: 500;
		img {
			max-width: 138px;
			object-fit: contain;
			object-position: center;
		}
	}

	// .about-item__img

	&__img {
		margin: 0 auto;
		@media (max-width: $mobile) {
			img {
				max-width: 320px;
				width: 100%;
				object-fit: contain;
			}
		}
	}
}

//====================================================================================================
// Article
//====================================================================================================

.article {
	padding-top: 40px;
	padding-bottom: 10px;

	// .article__inner

	&__inner {
	}

	// .article__top

	&__top {
		display: flex;
		justify-content: space-between;
		margin-top: 16px;
		margin-bottom: 14px;
		padding: 10px 0;
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;

		// .article__top_share

		&_share {
			display: flex;
			column-gap: 12px;
			align-items: center;
		}

		// .article__top_links

		&_links {
			display: flex;
			column-gap: 6px;
		}

		// .article__top_link

		&_link {
		}
	}

	// .article__item

	&__item {
		font-size: rem(17);
		line-height: math.div(22, 17);
		// .article__item_img

		&_img {
			margin-right: 28px;
			margin-bottom: 14px;
		}

		// .article__item_title

		&_title {
			font-size: rem(24);
			font-weight: 700;
		}
	}

	// .article__bottom

	&__bottom {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
	}

	// .article__control

	&__control {
		margin-bottom: 43px;
	}

	// .article__pagination

	&__pagination {
		display: flex;
		column-gap: 4px;
		align-items: center;
		// .article__pagination_btn

		&_btn {
			font-size: rem(16);
			color: #fff;
			display: flex;
			column-gap: 13px;
			align-items: center;
			background-color: #5cb6f3;
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
			padding: 10px 16px;
		}

		// .article__pagination_prev

		&_prev {
			i {
				&:before {
					transform: rotate(-180deg);
				}
			}
			border-radius: 5px 0 0 5px;
		}

		// .article__pagination_text

		&_text {
			font-family: "RussoOne";
			font-size: rem(14);
			background-color: #f1f6f6;
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
			height: 100%;
			display: flex;
			align-items: center;
		}

		// .article__pagination_next

		&_next {
			border-radius: 0 5px 5px 0;
		}
	}
}

//====================================================================================================
// All search
//====================================================================================================

.all-search {
	padding-top: 40px;
	padding-bottom: 22.5px;
	// .all-search__inner

	&__inner {
	}

	// .all-search__filters

	&__filters {
		display: flex;
		column-gap: 20px;
		align-items: center;
		margin-top: 19px;
		margin-bottom: 14px;
	}

	// .all-search__filter

	&__filter {
		display: flex;
		column-gap: 10px;
		align-items: center;
		// .all-search__filter_title

		&_title {
			font-weight: 500;
			font-size: rem(16);
			color: #59b5f3;
		}
	}

	// .all-search__top

	&__top {
		padding: 13px 0;
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .all-search__bottom

	&__bottom {
		margin-top: 37px;
		margin-bottom: 22px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	// .all-search____control

	&__control {
		margin-bottom: 22px;
		margin-bottom: 42px;
	}

	// .all-search__sorting

	&__sorting {
		display: flex;
		column-gap: 26px;
		align-items: center;
	}

	// .all-search__sort

	&__sort {
		display: flex;
		column-gap: 15px;
		align-items: center;
		// .all-search__sort_title

		&_title {
			font-size: rem(14);
			color: #7b7b7b;
		}
	}

	// .all-search__items

	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		margin-top: 45px;
	}
}

.auto-item {
	display: flex;
	background-color: #f1f6f6;
	// .auto-item__left

	&__left {
	}

	// .auto-item__right

	&__right {
		padding: 10px 6px 10px 12px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	// .auto-item__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 13px;
	}

	// .auto-item__title

	&__title {
		font-size: rem(18);
		font-weight: 500;
	}

	// .auto-item__middle

	&__middle {
		margin-bottom: 8px;
	}

	// .auto-item__descr

	&__descr {
		font-size: rem(14);
		color: #7b7b7b;
	}

	// .auto-item__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .auto-item__data

	&__data {
		display: flex;
		p {
			background-color: #5cafb8;
			padding: 4px 17px;
			font-size: rem(14);
			font-weight: 500;
			color: #fff;
			&:last-child {
				padding-right: 30px;
				clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
			}
		}
	}

	// .auto-item__btns

	&__btns {
		display: flex;
		column-gap: 8px;
		align-items: center;
	}

	// .auto-item__btn

	&__btn {
		padding: 8px;
		background-color: #fff;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		i {
			color: #c1c1c1;
		}
		p {
			font-size: rem(14);
			font-weight: 500;
		}
		&.blue {
			background-color: #5cb6f3;
			color: #fff;
		}
	}
}

//====================================================================================================
// Ads
//====================================================================================================

.board {
	padding-top: 40px;
	padding-bottom: 42px;
	// .board__inner

	&__inner {
		margin-bottom: 22px;
	}

	// .board__statistics

	&__statistics {
		display: flex;
		justify-content: space-between;
		padding: 10px 22px;
		background-color: #f1f6f6;
		width: 100%;
		margin-top: 19px;
	}

	// .board__statistic

	&__statistic {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		row-gap: 6px;
		&:not(:last-child) {
			border-right: 1px solid #d8d8d8;
		}
		// .board__statistic_title

		&_title {
			font-size: rem(16);
			font-weight: 500;
		}

		// .board__statistic_data

		&_data {
			font-size: rem(20);
			font-weight: 500;
			color: #50afed;
			&.total {
				font-size: rem(24);
				color: #feb03d;
			}
		}
	}

	// .board__top

	&__top {
		margin-top: 23px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 23px;
		margin-bottom: 23px;
	}

	// .board__btn

	&__btn {
		display: flex;
		column-gap: 19px;
		color: #fff;
		background-color: #50afed;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		font-size: rem(14);
		padding: 7px 11px;
		border-radius: 5px;
	}

	// .board__items

	&__items {
		margin-bottom: 33px;
		display: grid;
		gap: 21px 23px;
		grid-template-columns: repeat(auto-fit, minmax(398px, 1fr));
	}

	// .board__item

	&__item {
		max-width: 412px;
		background-color: #f1f6f6;
		// .board__item_imgs

		&_imgs {
			overflow: hidden;
			display: flex;
			justify-content: center;
			column-gap: 19px;
			padding: 19px 0;
			img {
				&:first-child {
					opacity: 0.5;
				}
				&:last-child {
					opacity: 0.5;
				}
			}
		}

		// .board__item_title

		&_title {
			font-size: rem(20);
			font-weight: 500;
			text-align: center;
			margin-bottom: 14px;
		}

		// .board__item_data

		&_data {
			text-align: center;
			font-size: rem(14);
			font-weight: 500;
			span {
				font-weight: 700;
			}
			margin-bottom: 10px;
		}

		// .board__item_descr

		&_descr {
			font-size: rem(13);
			font-weight: 500;
			line-height: math.div(19, 13);
			padding: 7px 0 19px 0;
			margin: 0 auto;
			max-width: 361px;
			width: 100%;
			height: 46px;
			overflow: hidden;
			border-top: 1px solid #d1d1d1;
		}

		// .board__item_descr-btn

		&_descr-btn {
			width: 100%;
			text-align: center;
			color: #d1d1d1;
		}

		// .board__item_wrapper

		&_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 10px 7px 10px;
		}

		// .board__item_price

		&_price {
			padding: 6px 15px;
			font-size: rem(20);
			color: #fff;
			background-color: #59b5f3;
			border-radius: 5px;
		}

		// .board__item_btns

		&_btns {
			display: flex;
			column-gap: 4px;
		}

		// .board__item_btn

		&_btn {
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
			background-color: #fff;
			color: #c1c1c1;
			height: 100%;
			padding: 9px;
			border-radius: 5px;
		}
	}

	// .board__bottom

	&__bottom {
		display: flex;
		justify-content: flex-end;
	}

	// .board__control

	&__control {
	}
}

//====================================================================================================
// Modals
//====================================================================================================

/* Стили для подложки */

.overlay {
	/* Скрываем подложку  */
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(92, 183, 243, 0.5);
	z-index: 20;
	transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
	/* Скрываем окна  */
	opacity: 0;
	visibility: hidden;

	/*  Установаем ширину окна  */
	width: 100%;
	max-width: 600px;

	/*  Центрируем и задаем z-index */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30; /* Должен быть выше чем у подложки*/

	/*  Побочные стили   */
	box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 26px 23px 13px 23px;
	border-radius: 10px;
	background-color: #fff;
	transition: 0.3s all;

	&__title {
		font-family: "RussoOne";
		font-size: rem(24);
	}
	&__img {
		margin-top: 18px;
		img {
			width: 105px;
			height: 105px;
		}
	}
	&__input {
		display: flex;
		align-items: center;
		column-gap: 9px;
		label {
			font-family: "RussoOne";
			font-size: rem(14);
			color: #7b7b7b;
		}
		input {
			border: 1px solid #5cb6f3;
			padding: 9px 10px;
		}
	}
	&__btns {
		display: flex;
		justify-content: center;
		column-gap: 6px;
	}
	&__btn {
		display: flex;
		column-gap: 20px;
		align-items: center;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
		padding: 15px;
		font-size: rem(16);
		color: #fff;
		border-radius: 5px;
		font-family: "Work Sans", sans-serif;
		font-weight: 700;
		&_blue {
			background-color: #5cb6f3;
		}
		&_grey {
			background-color: #c1c1c1;
		}
	}
	&__data {
		display: flex;
		flex-direction: column;
		row-gap: 22px;
		align-items: center;
		margin: 15px 0;
		padding-top: 6px;
		padding-bottom: 25px;
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		p {
			font-size: rem(18);
			font-weight: 700;
			span {
				color: #5cb6f3;
			}
		}
		&_btn {
			padding: 6px;
			display: flex;
			column-gap: 15px;
			border: 1px solid #feb03d;
			font-size: rem(14);
			align-items: center;
			border-radius: 5px;
			font-weight: 500;
			color: #7b7b7b;
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		width: 100%;
		img {
			width: 40px;
			height: 40px;
		}
	}
	&__bottom {
		p {
			text-align: left;
			font-size: rem(14);
			color: #7b7b7b;
		}
	}
}

/* Стили для кнопки закрытия */

.modal__cross {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 13px;
	right: 14px;
	fill: #c1c1c1;
	cursor: pointer;
}

.modal.active,
.overlay.active {
	opacity: 1;
	visibility: visible;
}
